[submodule "dmlc-core"]
	path = dmlc-core
	url = https://hub.fastgit.xyz/dmlc/dmlc-core.git
[submodule "rabit"]
	path = rabit
	url = https://hub.fastgit.xyz/dmlc/rabit.git
[submodule "cub"]
	path = cub
	url = https://hub.fastgit.xyz/NVlabs/cub.git
